.hidden { display: none; }

/* Normal Quiz */
#normalQuiz {
  background: #7cafcc;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.option {
  background: #ffffff;
  color: #050101;
  margin: 8px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.option.correct { background: green; color: #fff; }
.option.wrong { background: red; color: #fff; }

/* Love Quiz */
#loveQuiz {
  background: linear-gradient(to right, #ff758c, #ff7eb3);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.loveOption {
  background: #fff;
  color: #000;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.loveOption:hover {
  background: #ffeb3b;
  color: #000;
}
